.artist {
    display: flex;
    flex-direction: column;
    gap: calc(var(--mini) - 0.3rem);
    justify-content: flex-start;
}

.artist span {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: calc(var(--mini) - 0.3rem);
    height: min-content;
}

.artist svg {
    width: calc(var(--big));
}

.artist h3 {
    color: var(--fourthy-color);
}

.TabList .cantorTab001 {
    display: flex;
    position: relative;
    align-items: start;
    width: 16vw;
    margin-right: 2vw;
    margin-left: 0vw;
}

.TabList .cantorTab001 .cantorContainer {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: var(--primary-color);
    border-radius: var(--medium) 0px 0px var(--medium);
    padding-bottom: var(--medium);
    height: min-content;
    width: 100%;
}

.TabList .robe {
    height: 40vh;
}

.cantorTab001 .artist {
    padding: 10px 0px 0px 15px;
}

.cantorTab001 .artist span .artistIcon,
.cantorTab001 .artist span p {
    fill: var(--fifthly-color);
    color: var(--fifthly-color);
}

.cantorTab001 .artist span .artistIcon {
    width: 30px;
    height: 30px;
}

.cantorTab001 .cantorContainer .topRow {
    background: var(--secondary-color);
    padding-bottom: calc(var(--mini) - 0.3rem);
    border-radius: 0rem 0rem var(--borderRadius) 0rem;
    position: relative;
}

.cantorTab001 .cantorContainer .topRow img {
    border: solid var(--fifthly-color) var(--mini);
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 0rem 0rem var(--max) 0rem;
    width: 60%;
    object-fit: cover;
}

.cantorTab001 b {
    white-space: wrap;
    text-align: left;
    color: var(--fourthy-color);
}

.cantorTab002 {
    position: relative;
    width: 100%;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 10px;
}

.headerContainer .cross {
    fill: var(--thirdly-color);
}

.artistIcon {
    fill: var(--fourthy-color);
}

.searchItem .artistIcon {
    fill: var(--primary-color);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10vw;
}

.searchBar {
    font-size: var(--medium);
}

.searchItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: var(--medium);
    border-radius: 0rem var(--big) var(--big) 0rem;
    margin-bottom: calc(var(--mini) - 0.2rem);
    padding-left: var(--big);
    width: 75vw;
}

.searchItem h1,
.searchItem h2,
.searchItem b,
.searchItem copt,
.searchItem .artistIcon .searchItem .cross,
.searchItem .artist span p,
.searchItem .headerContainer h {
    color: var(--primary-color);
    fill: var(--primary-color);
    letter-spacing: 0.02rem;
}

.searchItem h2 {
    white-space: nowrap;
}

.searchItem h3 {
    color: var(--thirdly-color);
}

.searchItem:hover {
    background: var(--thirdly-color);
    transition: 0.2s ease-in-out;
}

.searchItem:hover h2,
.searchItem:hover b,
.searchItem:hover .artistIcon,
.searchItem:hover .cross,
.searchItem:hover .artist span p,
.searchItem:hover copt,
.searchItem:hover h3 {
    color: var(--fifthly-color);
    fill: var(--fifthly-color);
    transition: 0.2s ease-in-out;
}

.searchItem .topRow {
    background: none;
    display: flex;
    align-items: center;
}

@keyframes swipeLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.searchItem .artist {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 5px;
    white-space: nowrap;
}

.secondRow {
    margin: 0px 30px;
}

.topRow .title {
    display: flex;
    flex-direction: column;
}

.swipeDown {
    animation: swipeDown 0.5s ease;
}

@keyframes swipeDown {
    from {
        transform: translateY(-500px);
    }

    to {
        transform: translateY(0px);
    }
}