.artist {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
}

.artist span {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.artist span p {
    color: var(--fourthy-color);
}

.artist svg {
    width: 25px;
    height: 25px;
}

.TabList .cantorTab001 {
    overflow: visible;
    position: relative;
    display: flex;
    width: 100%;
}


.TabList .cantorTab001 .cantorContainer {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: var(--primary-color);
    border-radius: 30px 0px 0px 30px;
    height: 100%;
    padding-bottom: 10px;
}

.cantorTab001 .artist {
    padding: 10px 0px 0px 15px;
    width: min-content;
    margin: 0;
}

.cantorTab001 .artist span .artistIcon,
.cantorTab001 .artist span p {
    fill: var(--fifthly-color);
    color: var(--fifthly-color);
}

.cantorTab001 .artist span .artistIcon {
    width: 30px;
    height: 30px;
}

.cantorTab001 .cantorContainer .topRow {
    background: #678399;
    border-radius: 0px 0px 80px 0px;
    padding-bottom: 5px;
}

.cantorTab001 .cantorContainer .topRow img {
    border-radius: 0px 0px 80px 0px;
    border: solid var(--fifthly-color);
    border-right: solid var(--fifthly-color) 20px;
    border-bottom: solid var(--fifthly-color) 5px;
    border-left: solid var(--fifthly-color) 0px;
    border-top: solid var(--fifthly-color) 0px;
    min-width: none;
    max-height: 100px;
    object-fit: cover;
    object-position: 50% 100%;
}

.cantorTab001 b {
    white-space: wrap;
    text-align: left;
    color: var(--fourthy-color);
}

.cantorTab002 {
    position: relative;
    width: 100%;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 10px;
}

.headerContainer .cross {
    fill: var(--thirdly-color);
}

.artistIcon {
    fill: var(--fourthy-color);
}

.searchItem .artistIcon {
    fill: var(--primary-color);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10vw;
}

.searchBar {
    font-size: var(--medium);
}

.searchItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding-right: 2vw;
    border-radius: 0px 60px 60px 0px;
    margin-bottom: 0.5vw;
}

.searchItem h1,
.searchItem h2,
.searchItem b,
.searchItem .artistIcon .searchItem .cross,
.searchItem .artist span p,
.searchItem .headerContainer h {
    color: var(--primary-color);
    fill: var(--primary-color);
}

.searchItem:hover {
    background: var(--fourthy-color);
}

.searchItem:hover h1,
.searchItem:hover h2,
.searchItem:hover b,
.searchItem:hover .artistIcon,
.searchItem:hover .cross,
.searchItem:hover .artist span p {
    color: var(--fifthly-color);
    fill: var(--fifthly-color);
}

.searchItem .topRow {
    background: none;
    padding-left: 1.5vw
}

.searchItem .artist {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 5px;
    white-space: nowrap;
}

.secondRow {
    margin: 0px 30px;
}

.topRow {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0 20px 0px 0px;
    align-items: flex-start;
    justify-content: flex-start;
    background: var(--primary-color);
    border-radius: 0 0 30px 0px;
    width: max-content;
    overflow: visible;
}

.topRow .title {
    display: flex;
    flex-direction: column;
}