.artist {
    display: flex;
    flex-direction: column;
    gap: calc(var(--mini) - 0.3rem);
    justify-content: flex-start;
}

.artist span {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: calc(var(--mini) - 0.3rem);
    height: min-content;
}

.artist svg {
    width: calc(var(--big));
}

.artist h3 {
    color: var(--fourthy-color);
}

.TabList .cantorTab001 {
    overflow: visible;
    display: flex;
    flex-direction: row;
}


.TabList .cantorTab001 .cantorContainer {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background: var(--primary-color);
    border-radius: 30px 0px 0px 30px;
    height: 100%;
    margin: 0;
    padding: 0rem var(--medium) var(--medium) 0rem;
}

.cantorTab001 .artist {
    padding: 10px 0px 0px 15px;
    width: min-content;
    margin: 0;
}

.cantorTab001 .artist span .artistIcon,
.cantorTab001 .artist span p {
    fill: var(--fifthly-color);
    color: var(--fifthly-color);
}

.cantorTab001 .artist span .artistIcon {
    width: 30px;
    height: 30px;
}

.cantorTab001 .cantorContainer .topRow {
    background: #678399;
    border-radius: 0px 0px 80px 0px;
    padding-bottom: 5px;
}

.cantorTab001 .cantorContainer .topRow img {
    border-radius: 0px 0px 80px 0px;
    border: solid var(--fifthly-color);
    border-right: solid var(--fifthly-color) 20px;
    border-bottom: solid var(--fifthly-color) 5px;
    border-left: solid var(--fifthly-color) 0px;
    border-top: solid var(--fifthly-color) 0px;
    min-width: none;
    max-height: 100px;
    object-fit: cover;
    object-position: 50% 100%;
}

.cantorTab001 b {
    white-space: wrap;
    text-align: left;
    color: var(--fourthy-color);
}

.cantorTab002 {
    position: relative;
    width: 100%;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    align-items: center;
    gap: 10px;
}

.headerContainer .cross {
    fill: var(--thirdly-color);
}

.artistIcon {
    fill: var(--fourthy-color);
}

.searchItem .artistIcon {
    fill: var(--primary-color);
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10vw;
}

.searchBar {
    font-size: var(--medium);
}

.searchItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: var(--medium);
    border-radius: 0rem var(--big) var(--big) 0rem;
    margin-right: var(--max);
    margin-bottom: calc(var(--mini) - 0.2rem);
    padding-left: var(--big);
}

.searchItem h1,
.searchItem h2,
.searchItem b,
.searchItem copt,
.searchItem .artistIcon .searchItem .cross,
.searchItem .artist span p,
.searchItem .headerContainer h {
    color: var(--primary-color);
    fill: var(--primary-color);
    letter-spacing: 0.02rem;
}

.searchItem h3 {
    color: var(--thirdly-color);
}

.searchItem:hover {
    background: var(--thirdly-color);
    transition: 0.2s ease-in-out;
}

.searchItem:hover h2,
.searchItem:hover b,
.searchItem:hover .artistIcon,
.searchItem:hover .cross,
.searchItem:hover .artist span p,
.searchItem:hover copt,
.searchItem:hover h3 {
    color: var(--fifthly-color);
    fill: var(--fifthly-color);
    transition: 0.2s ease-in-out;
}

.searchItem .topRow {
    background: none;
    display: flex;
    align-items: center;
}

.searchItem .headerContainer {
    font-family: 'Coptic';
}

@keyframes swipeLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.searchItem .artist {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 5px;
    white-space: nowrap;
}

.secondRow {
    margin: 0px 30px;
}

.topRow {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0 20px 0px 0px;
    align-items: flex-start;
    justify-content: flex-start;
    background: var(--primary-color);
    border-radius: 0 0 30px 0px;
    width: max-content;
    overflow: visible;
}

.topRow .title {
    display: flex;
    flex-direction: column;
}

.robe {
    position: relative;
}