.menuContainer {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 997;
  gap: var(--sectionSpacing);
  overflow: visible;
  transition: all 0.5s var(--motion);
}

.menuContainer.mobile {
  background: var(--primary);
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  transition: all 0.5s var(--motion);
}

.menuContainer.mobile:not(.expanded) {
  width: 4rem;
  height: 4rem;
  background: var(--fifthly);
  padding: var(--padding);
  border-radius: 0 0 50% 0;
}

.navGroup {
  display: flex;
  align-items: center;
  gap: var(--space);
  list-style: none;
  height: 100%;
}

.leftNav {
  flex-grow: 1;
  justify-content: flex-start;
  width: 30%;
}

.rightNav {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.socialLinks {
  display: flex;
  gap: var(--space);
  align-items: center;
  justify-content: space-between;
  width: 50%;

}

.mobile.expanded .mainNav {
  flex-direction: row;
  width: 100%;
  padding: 0;
  height: 100%;
}

.mobile.expanded .rightNav {
  flex-direction: column;
  width: 100%;
  flex-grow: 0;
  align-items: flex-start;
}

.backgroundLogo {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: visible;
}

.backgroundLogo img {
  width: 100%;
  pointer-events: none;
  opacity: 50%;
  mix-blend-mode: hard-light;
}

.linksExpand {
  width: 100%;
}

.navContainer.hiddenNav {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s var(--motion);
}

.menuContainer.fullScreen {
  background: var(--fifthly);
  width: 100vw;
  height: auto;
  padding: 0;
  border-radius: 0;
  overflow: visible;
  transition: all 0.5s var(--motion);
}

.menuContainer.mobile {
  background: var(--primary);
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  transition: all 0.5s var(--motion);
}

.menuContainer.mobile.expanded {
  width: 100vw;
  height: 100vh;
  padding: 0;
  background: var(--fifthly);
  overflow: hidden;
  transition: all 0.5s var(--motion);
}

.navContainer {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s var(--motion);
  flex-basis: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  list-style-type: none;
  z-index: 999;
  gap: var(--sectionSpacing);
  justify-content: space-between;
}

.navContainer span:nth-of-type(1) {
  flex-grow: 6;
  cursor: pointer;
}

.menuContainer.fullScreen .hamburgerMenu {
  display: none;
}

.userDropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: start;

  img {
    width: calc(var(--profile) / 3);
    height: calc(var(--profile) / 3);
  }

  p {
    font-size: 0.65rem;
    font-weight: 1000;
  }
}

.profileDropdown {
  position: absolute;
  left: 0;
  bottom: 0;
  width: min-content;
  z-index: 9999 !important;
  transform: translateY(110%);
  background: var(--primary);
  border-radius: var(--spacing);
  border: 0.1rem solid var(--thirdly);
  padding: var(--spacing);
}

.profileDropdown li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--padding);
  padding: var(--padding);
  transition: filter 0.3s var(--motion);
  filter: sepia(0);
}

.profileDropdown li:hover {
  filter: sepia(50%) brightness(50%);
}

@media screen and (max-width: 1000px) and (min-width: 465px) {
  .navGroup {
    flex-direction: column;
  }
}