@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
    background: linear-gradient(180deg, var(--fifthly-color) 0%, var(--fourthy-color) 100%);
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
}

body::before {
    background-image:
        url('./img/backgroundPattern.png');
    background-repeat: repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -4;
    content: "";
}

.mainLogo {
    width: 180px;
    height: 180px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: min-content;
}

.churchImg {
    position: absolute;
    mix-blend-mode: luminosity;
    z-index: -2;
    left: 0px;
    bottom: 0px;
    width: 60vw;
    opacity: 60%;
}

.contents {
    display: flex;
    flex-direction: column;
    margin: 0px 139px;
}

.mainContainer {
    position: relative;
}

nav {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    padding-top: 20px;
}

nav li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav li:nth-of-type(1) img {
    height: var(--icon);
}

nav li a {
    text-decoration: none;
}

nav li a h2 {
    color: var(--primary-color);
}

.Jesus {
    position: absolute;
    top: -100px;
    right: -100px;
    z-index: -3;
    mix-blend-mode: multiply;
    opacity: 80%;
}

.caption {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caption img {
    height: 100px;
    margin: 0;
    opacity: 50%;
}

.searchBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBarContainer .background {
    background: var(--fifthly-color);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.29);
    border-radius: 40px;
    padding-top: 0.5vw;
    max-width: 90%;
    min-width: 80%;
    width: 100%;
    overflow: hidden;
}


.searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.searchBar input {
    background-color: transparent;
    border: 0px solid;
    outline: none;
    width: 100%;
    font-size: var(--medium);
    margin-left: 2vw;
    margin-bottom: var(--mini);
}

.searchBar input:focus {
    outline: none;
}

.searchBar img {
    margin-right: 5vw;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(237, 242, 245, 1) 0%, rgba(154, 187, 202, 1) 100%);
}

.fadeIn {
    animation: fadeInAnimation 1s forwards;
}

.fadeOut {
    animation: fadeOutAnimation 1s forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loadingContainer .leftCymbal {
    animation: clashRight 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.loadingContainer .rightCymbal {
    animation: clashLeftTap 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.clash path:nth-of-type(1) {
    animation: fade 0.5s linear forwards infinite;
    animation-delay: 0s;
}

.clash path:nth-of-type(2) {
    animation: fade 0.5s linear forwards infinite;
    animation-delay: 0.05s;
}

.clash path:nth-of-type(3) {
    animation: fade 0.5s linear forwards infinite;
    animation-delay: 0.10s;
}

.clash path:nth-of-type(4) {
    animation: fade 0.5s linear forwards infinite;
    animation-delay: 0.15s;
}

.clash {
    overflow: visible;
    position: absolute;
    top: 25vh;
    left: 49vw;
    animation: clashTime 1s linear infinite;
    animation-delay: 1s;
    opacity: 1;
}

@keyframes clashTime {
    0% {
        opacity: 100%;
    }

    25% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }

    50% {
        opacity: 1;
        transform: translateY(-50px);
    }

    100% {
        opacity: 0;
        transform: translateY(-40px);
    }
}

@keyframes clashRight {
    0% {
        transform: translateX(0px) rotate(0deg);
    }

    25% {
        transform: translateX(40px) rotate(15deg);
    }

    50% {
        transform: translateX(30px) rotate(10deg);
    }

    75% {
        transform: translateX(30px) rotate(10deg);
    }

    100% {
        transform: translateX(0px) rotate(0deg);
    }
}

@keyframes clashLeftTap {
    0% {
        transform: translateX(0px) rotate(0deg);
    }

    25% {
        transform: translateX(-50px) rotate(-10deg);
    }

    50% {
        transform: translateX(-25px) rotate(0deg);
    }

    62.5% {
        transform: translateX(-25px) rotate(-20deg);
    }

    75% {
        transform: translateX(-25px) rotate(2deg);
    }

    87.5% {
        transform: translateX(-75px) rotate(-20deg);
    }

    100% {
        transform: translateX(0px) rotate(0deg);
    }
}

.progressContainer {
    display: flex;
    align-items: center;
}

.progress {
    width: 20px;
    height: 20px;
    background: var(--fifthly-color);
    border-radius: 80px;
}

.flowSection row {
    display: flex;
    position: relative;
    overflow: hidden;
}

.flowSection>row>span:nth-child(1) {
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: var(--mini) var(--mini) 0 0;
    overflow: hidden;
    background: var(--thirdly-color);
    flex: 0 1 auto;
    z-index: 3;
    order: 2;
    padding: var(--mini) var(--mini) 0rem var(--mini);
}

.flowSection>row>span:nth-child(2) {
    display: flex;
    padding: 0rem var(--mini);
    justify-content: center;
    position: absolute;
    border-radius: var(--mini) var(--mini) 0 0;
    overflow: hidden;
    background: var(--secondary-color);
    flex: 0 1 auto;
    z-index: 2;
    order: 1;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.29);
    padding: var(--mini) var(--mini) 0rem var(--mini);
}

.flowSection>row>span:nth-child(3) {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: var(--mini) var(--mini) 0 0;
    overflow: hidden;
    background: var(--thirdly-color);
    flex: 0 1 auto;
    z-index: 1;
    padding: var(--mini) var(--mini) 0rem var(--mini);
}

.flowSection>row>span .cross {
    fill: var(--fourthy-color);
}

.flowSection>row>span .headerContainer h1 {
    font-family: 'Handwritten';
    font-size: calc(var(--max) - 0.4rem);
    background-image: linear-gradient(var(--fourthy-color), var(--thirdly-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.leftBtn {
    background: none;
    border: none;
    width: 2.5vw;
    display: flex;
    justify-content: start;
}

.rightBtn {
    background: none;
    border: none;
    width: 2.5vw;
    display: flex;
    justify-content: end;
}

.TabList {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--thirdly-color);
    justify-content: start;
    list-style: none;
    position: relative;
    border-radius: 0px 20px 20px 20px;
    border-bottom: solid var(--fifthly-color) 20px;
    padding: var(--max);
}

.TabList span:first-child {
    display: flex;
    width: 100%;
}

.TabList span:first-child .artistHeader {
    flex: 1 0 auto;
}

.TabList span:first-child .boogey {
    flex: 0 0 auto;
}

.TabList span:nth-child(2) li:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
}

.TabList span:nth-child(2) {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: 0;
}

.TabList .cross,
.TabList .leftArrow,
.TabList .rightArrow {
    fill: var(--fifthly-color);
}

.TabList .rightArrow {
    transform: scaleX(-1);
}

.TabList+p {
    color: var(--primary-color);
}

nav ul li h2 {
    color: var(--primary-color);
}

.deaf {
    width: 40px;
    height: 50px;
    margin: 50px 0px;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0px;
}

.footer nav {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

.footer nav .cross {
    width: 30px;
    height: 30px;
    fill: var(--primary-color);
}

fade {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(0deg, rgba(154, 187, 202, 1) 50%, rgba(154, 187, 202, 0) 100%);
}

.psalmodyContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.feastContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.seasonItem {
    flex: 0 0 25%;
}

.seasonItem img {
    border-bottom: var(--fifthly-color) 5px solid;
    width: var(--imageTab);
    object-fit: cover;
    object-position: 0% 10%;
    border-radius: 20px;
    height: 50%;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.177);
}

.feastContainer .seasonItem b {
    color: var(--primary-color);
}

@keyframes fadeDown {
    from {
        transform: translateY(-200px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.seasonItem:nth-child(1) img {
    object-position: 0% 25%;
    animation: fadeDown 1s ease-in-out;
    animation-delay: 1s;
}

.seasonItem:nth-child(2) img {
    object-position: 0% 50%;
    animation: fadeDown 1s ease-in-out;
    animation-delay: 1.5s;
}

.seasonItem:nth-child(3) img {
    object-position: 0% 30%;
    animation: fadeDown 1s ease-in-out;
    animation-delay: 2s;
}

.seasonItem:nth-child(4) img {
    object-position: 0% 100%;
    animation: fadeDown 1s ease-in-out;
    animation-delay: 2.5s;
}

.psalmodyContainer .seasonItem:nth-child(1) img {
    object-position: 0% 20%;
}

.psalmodyContainer .seasonItem:nth-child(2) img {
    object-position: 0% 0%;
}

.psalmodyContainer .seasonItem:nth-child(3) img {
    object-position: 0% 10%;
}

.seasonItem .headerContainer .cross {
    fill: var(--fifthly-color);
    text-align: center;
}

.seasonsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    gap: var(--small);
}

.seasonsContainer .artistHeader {
    position: relative;
    width: 100%;
}

.seasonsContainer row {
    display: flex;
}

.seasonsContainer row column:nth-child(1) {
    display: flex;
    flex-direction: column;
    flex: 2 0 auto;
}

.seasonsContainer row column:nth-child(2) {
    display: flex;
    align-items: center;
    gap: calc(var(--mini) - 0.5rem);
    flex: 0 0 auto;
}

.seasonsContainer row column:nth-child(2) p {
    color: var(--fifthly-color);
}

.seasonsContainer row column:nth-child(2) h3 {
    color: var(--fourthy-color);
}

.seasonsContainer row column row {
    display: flex;
}

.seasonsContainer row column row:nth-child(2) b {
    margin-right: var(--small);
}

.hymnContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
}

.hymnContainer .header {
    display: flex;
    justify-content: center;
}

.hymnContainer .header .headerContainer h1 {
    color: var(--primary-color);
    font-size: var(--max);
}

.hymnContainer .header .headerContainer .cross {
    fill: var(--primary-color);
}

.seasonItem .headerContainer .cross {
    width: 1rem;
}

.hymnContainer .headerContainer .cross {
    fill: var(--fifthly-color);
}

.audioContainer {
    display: grid;
}

.audioContainer ul {
    display: inline-flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.playOption button {
    background: none;
    outline: none;
    box-shadow: none;
}

.playOption button:focus {
    outline: none;
    box-shadow: none;
}

.playOption {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}