html {
    font-size: 24px;
}

@font-face {
    font-family: 'Aladin';
    src: url(./Fonts/Aladin/Aladin-Regular.ttf);
}

@font-face {
    font-family: 'Intel-light';
    src: url(./Fonts/Inter/Inter_18pt-Medium.ttf);
}

@font-face {
    font-family: 'RumRaisin';
    src: url(./Fonts/Rum_Raisin/RumRaisin-Regular.ttf);
}

@font-face {
    font-family: 'Akshar';
    src: url(./Fonts/Akshar/Akshar-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Handwritten';
    src: url(./Fonts/handwritten/Hey\ October.otf);
}

@font-face {
    font-family: 'cursive';
    src: url(./Fonts/handwritten/Lemon\ Tuesday.otf);
}

:root {
    --imageTab: 15rem;
    --borderRadius: 20px;
    --icon: 3.5rem;
    --max: 2.5rem;
    --big: 1.25rem;
    --medium: 1.042rem;
    --small: 0.916rem;
    --mini: 0.6rem;
    --primary-color: #2C475C;
    --secondary-color: #426077;
    --thirdly-color: #678399;
    --fourthy-color: #B5CBD5;
    --fifthly-color: #eff9ff;
}

.rum-raisin-regular {
    font-family: "Rum Raisin", sans-serif;
    font-weight: 400;
    font-style: normal;
}

t {
    font-size: var(--max);
    color: var(--secondary-color);
    font-family: 'Aladin';
    padding: 0;
    margin: 0;
}

h1 {
    font-size: var(--big);
    font-family: 'RumRaisin';
    text-transform: inherit;
    color: var(--fifthly-color);
    font-weight: 500;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: var(--medium);
    color: var(--fifthly-color);
    font-family: 'Aladin';
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
}

h3 {
    font-size: var(--small);
    color: var(--fifthly-color);
    font-family: 'Aladin';
    text-transform: uppercase;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

b {
    font-size: var(--small);
    color: var(--fifthly-color);
    font-family: 'Aladin';
    text-transform: uppercase;
    background: var(--primary-color);
    border-radius: var(--borderRadius);
    cursor: pointer;
    outline: none;
    box-shadow: none;
    padding: var(--mini) var(--small);
}

p {
    font-size: var(--mini);
    font-family: 'Intel-light';
    text-transform: none;
    color: var(--primary-color);
    padding: 0;
    margin: 0;
}

h {
    font-size: var(--medium);
    font-family: 'Handwritten';
    color: var(--fifthly-color);
    letter-spacing: 0.1rem;
    text-transform: inherit;
}

.tabList p {
    color: var(--fifthly-color);
}